.stack-work/*
*~
*#
/dist
\#*#
.#*
/dist-newstyle
cabal.project.local
data/topoJSON/*.json
*.png
TAGS
.ghc*
bench/*.html
*.prof
*.hp
*.hpp
*.ps
*.aux
*.png
.Rdata
.Rhistory
.knit-haskell-cache
/*.xlsx